table.button_grid {
    width: 100%;
    height: 98vh;
}

button.grid_button {
    width: 100%;
    height: 100%;
    /* box-sizing: border-box;
    justify-content: center;
    align-content: center;
    display: flex; */
    margin: 0;
    padding: 0;
    font-size: medium;
}

td.grid_cell {
    width: calc(100vw / var(--cols));
    height: calc(98vh / var(--rows));
    box-sizing: border-box;
}

input.grid_size_modifier {
    width: 40px;
}

div.top_bar {
    position: fixed;
    top: 5px;
    border: 2px solid black;
    background-color: white;
    width: 99%;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 1px;
}

div.top_bar_holder {
    position: static;
    height: 40px;
    width: 99%;
    top: 5px;
}

label.save_alert {
    padding-right: 10px;
}

table.button_config_grid {
    width: 70%;
    height: 15vh;
}

.button_config_cell {
    border: 2px solid black;
}

input.action_select {
    width: 75%;
}
